/* 15.3.2024 */

#yhteydenotto ul {
    padding: 0;
    list-style: none;
}

#yhteydenotto ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#yhteydenotto ul li label {
    width: 100%;
    flex: 0 0 150px; /* Leveys */
    margin-right: 10px;
    text-align: right;
}

#yhteydenotto ul li input,
#yhteydenotto ul li textarea {
    width: 100%;
}

#yhteydenotto {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: var(--ilmoitaLomake);
    align-items: center;
    border-radius: 8px;
    border: 2px solid #ccc; /* Kehyksen tyyli, leveys ja väri */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Lisää varjostus */
}

#tekstiKentta {
    height: 80px;
    font-size: 1.2em;
    text-align: left;
}

@media (max-width: 1000px) {

    #yhteydenotto ul li label {
        flex: 0 0 80px;
    }

    #yhteydenotto ul li input,
    #yhteydenotto ul li textarea {
        width: 80%;
    }

    #yhteydenotto {
        flex-direction: column;
        align-items: stretch;
    }

    #tekstiKentta {
        height: 150px;
    }
}



